[Unit]
Description=Conjur
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStart=/opt/conjur/bin/server start
ExecStop=-/usr/bin/docker stop conjur

[Install]
WantedBy=multi-user.target
